
    /*main page css*/

html, body{
    margin: 0;
    background-color: #1b1c20;
}

header{
    height: 755px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../assets/hero/mac2.jpg");
    background-position: bottom;
    background-size: fill;
}

nav ul{
    display: inline-block;
    margin: 0;
    max-width: 60%;
}

nav li{
    padding-top: 14px;
    display: inline-block; 
    padding-left: 40px;
    color: black;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav{
    height: 50px;
    width: 100%;
    padding-left: 50px;
    padding-top: 23px;
    padding-bottom: 60px;
}

.logo{
    float: left;
    width: 300px;
}

nav h3{
    width: 150px;
    display: inline-block;
    height: 40px;
}

nav input{
    border-radius: 25px;
    float: right;
    height: 50px;
    padding: auto;
    width: 255px;
    margin-right: 50px;
}

.row{
    width: 100%;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
}

.hero{
    padding-left: 100px;
    padding-top: 150px;
    color: white;
}

.button-1{
    margin-top: 30px;
    height: 70px;
    width: 225px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: 4px solid black; 
    padding-top: 18.5px;  
    display: inline-block;
    margin-right: 40px;
}

.button-like{
    display: inline-block;
}

.row-1{
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
}

.container-1{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 80px;
    padding-left: 122px;
    padding-right: 122px;
    width: 100%;
    height: 500px;
}


.ytb-video{
    background-color: rgb(148, 148, 148);
    height: 390px;
    width: 50%;
    z-index: 1;
    margin-top: -60px;
    padding: 0;
}

.featured-artists{
    background-color: rgba(119, 119, 119, 0.8);
    height: 560px;
    width: 50%;
    margin-top: -60px;
    margin-left: -140px;
    padding-left: 170px;
    padding-top: 30px;
    color: white;
}

.right-arrow{
    display: inline;
    float: right;
    padding-top: 205px;
    padding-right: 30px;
}

.left-arrow{
    display: inline;
    float: right;
    padding-top: 205px;
    padding-right: 20px;
}

.container-2{
    color: white;
    width: 100%;
    margin: 0;
    padding-right: 122px;
    padding-left: 122px;
    height: 426px;
}

.container-2 h4{
    padding: 0;
    margin-bottom: 40px;
}

.col-4{
    width: 25%;
    float: left;
    padding: 0;
}


.container-3 h4{
    padding: 0;
    margin-bottom: 40px;
}

.container-3{
    width: 100%;
    color: white;
    padding: 0;
    padding-left: 122px;
    padding-right: 122px;

}

footer{
    color: white;
    width: 100%;
    padding-left: 122px;
    padding-right: 122px;
}

footer p{
    float: left;
}

.footer-icons{
    float: right;
    padding-left: 20px;
    padding-bottom: 40px;
}


/*albums start here*//*//////////////////////////////////////*/


.album-1{
    background-image: url(/assets/images/lentra.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-2{
    background-image: url(/assets/images/lil-dusty.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-3{
    background-image: url(/assets/images/lil-yachty.webp);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-4{
    background-image: url(/assets/images/killstation.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-5{
    background-image: url(/assets/images/boogz.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-6{
    background-image: url(/assets/images/eyedress.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-7{
    background-image: url(/assets/images/poorstacy.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-8{
    background-image: url(/assets/images/xxx.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-9{
    background-image: url(/assets/images/mac.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-10{
    background-image: url(/assets/images/gorillaz.jpg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-11{
    background-image: url(/assets/images/joy-again.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.album-12{
    background-image: url(/assets/images/sticky-fingers.jpg);
    background-position: center;
    background-size: contain;
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    margin-right: 2%;
}


.overlay{
    width: 320px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin: 0 auto;
}

.content{
    width: 320px;
    height: 100px;
    background-color: crimson;
    margin-top: 50px;
    padding-left: 25px;
    color: white;
    padding-top: 9px;
    font-family: sans-serif;
}

.content h3, p{
    margin: 0;
}
















/*///////////////////////////////////////////////////*/
  /*about page css*/
/*///////////////////////////////////////////////////*/


    

.nav-2{
    height: 50px;
    width: 100%;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 60px;
    background-color: #d1d1d1;
    margin-bottom: 90px;
}

.nav-2 input{
    border-radius: 25px;
    float: right;
    height: 50px;
    padding: auto;
    width: 255px;
    margin-right: 50px;
}

.about-container{
    margin-top: 175px;
    width: 100%;
    padding-left: 122px;
    padding-right: 122px;
    margin-bottom: 125px;
}

.block-1{
    width: 49%;
    background-color: rgb(198, 253, 212);
    margin-right: 1%;
}

.block-2{
    width: 49%;
    background-color: rgb(214, 255, 255);
    margin-left: 1%;
}

.about{
    width: 100%;
    margin-right: 30px;
}

.get-in-touch{
    width: 100%;
    padding: 30px;
}

form input{
    border-radius: 25px;
    height: 50px;
    margin-top: 25px;
    width: 100%;
    margin-right: 30px;
    padding: 10px;
}

form select{
    border-radius: 25px;
    height: 50px;
    margin-top: 25px;
    width: 100%;
    margin-right: 30px;
    padding: 10px;
}

form textarea{
    border-radius: 25px;
    height: 100px;
    margin-top: 25px;
    width: 100%;
    margin-right: 30px;
    padding: 10px;
}

form .button-1{
    float: right;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 225px;
}

.about p{
    margin-bottom: 90px;
    display: inline-block;
}

.contact{
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.location{
    height: 200px;
    width: 100%;
    background: #000;
    margin-top: -51px;
    color: white;
}


/*///////////////////////////////////////////////////////*/
/*playlist page css*/
/*///////////////////////////////////////////////////////*/

.playlist-container{
    width: 100%;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 75px;
    padding-top: 60px;  
    margin: 0%;
}


    /*left block*/

.left-block{
    background-color: #a8dfff;
    width: 470px;
    height: 470px;
}



    /*right block madness*/

.right-block{
    width: 67%;    
    height: 500px;
    margin-left: 70px;
    padding-top: 10px;
}

.headings{
    padding: 0;
    margin-bottom: 40px;
}

.right-block h4{
    padding-right: 70px;
}

.right-block li{
    display: inline-block;
    padding-bottom: 0px;
}

.right-block h5{
    padding-right: 70px;
}

.song{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "number title artist album length";
    grid-gap: 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
    font-size: 20px;
}

.song p{
    margin: 0;
    padding: 6px;
}

.song div p{
    margin: 0;
    padding: 0;
}

.song h5{
    margin: 0;
    padding: 0;
}

.artist{
    font-size: 14px;
}

.song_list{
    width: 100%;
    height: 600px;
}


.line-element{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 122px;
    padding-right: 122px;
    margin-bottom: 0;
}

.line{
    width: 100%;
    height: 5px;
    background-color: lightgray;
}

.line-fill{
    width: 30%;
    height: 5px;
    background-color: #2b2b2b;
}

.marker{
    width: 30px;
    height: 30px;
    background-color: #2b2b2b;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: -17px;
}

.playlist-container h3{
    padding-bottom: 40px;
}



.button-container{
    width: 100%;
    height: 100px;
    padding-left: 122px;
    padding-right: 122px;
    margin-bottom: 30px;
}

.small-cover{
    width: 70px;
    height: 70px;
    background-color: #b9b9b9;
    margin-top: 20px;
}

.title{
    width: 200px;
    height: 70px;
    padding-top: 25px;
    padding-left: 20px;
}

.previous{
    margin-left: 27%;
    width: 50px;
    height: 50px;
    padding-top: 25px;
}

.next{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    padding-top: 25px;
}

.pause{
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

.duration{
    width: 50px;
    padding-top: 35px;
    margin-left: 30%;
    margin-right: 70px;
}

.heart{
    width: 50px;
    padding-top: 30px;
    float: right;
}







